.title_div {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #28536B;
    color: #fff;
    font-family: 'Khula';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 51px;
}