* {
    margin: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #163F56;
    /* height: 130px; */
    display: grid;
    align-items: center;
    padding: 30px;
}

.ul {
   
    padding-left: 30%;
    color: white;
    display: grid;
    grid-template-columns: repeat(5, auto);

}

.li {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-family: 'Khula';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

.li:hover{
    background-color: #1f5675;
    border: 1px solid #FFF;
    border-radius: 10px;
}

@media screen and (max-width: 760px){
   .ul {
    width: 40%;
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 100px);
    margin: 0 auto;
    text-align: center;
   }

   li {
    width: 150px;
    margin: 0.75rem;
   }

   .footer {
    height: 400px;
    display: grid;
    justify-content: center;
   }
}